
<div id="frame">
	<div id="sidepanel">
		<div id="profile">
      <div class="loggedin-username">
        <p id="expanded">Welcome {{ loggedinUsername ? '  ' + loggedinUsername : '' }}</p>
      </div>
      <!-- <div>
        <p class="chat-heading"> chats{{ username ? ' - ' + username : '' }}</p>
      </div> -->
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input type="text" [(ngModel)]="query" (input)="searchUsers()" placeholder="Search for names.." title="Type in a name" />
        <!-- <input type="text" [(ngModel)]="query" (input)="searchUsers()" 
        placeholder="Search for a user.." title="Type a username" /> -->
        <div class="user-list">
          <div class="user-list" *ngIf="query && users.length > 0">
            <div *ngFor="let user of users" class="user-item">
              <mat-icon class="avatar">account_circle</mat-icon>
              <span class="username">{{ user.userName }}</span>
              <button mat-icon-button (click)="addContact(user.userId)">
                <mat-icon class="add-icon">add</mat-icon>
              </button>
            </div>
          </div>
        </div>
		</div>
		<div id="contacts">
					<div class="wrap">
						<div *ngFor="let contact of contactList" class="contact-item" (click)="selectContact(contact)">
              <mat-icon class="profile-icon">account_circle</mat-icon>
              <div class="contact-details">
                <span class="contact-name">{{ contact.userName }}</span>
					    </div>
            </div> 
          </div>    
					<div id="bottom-bar">
            <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
            <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
          </div>
	</div>
</div>

<div *ngIf="selectedContact" class="chat-thread">
  <div class="thread-header">  
     {{ selectedContact ? 'Chat with ' + selectedContact.userName : 'Select a contact to chat' }}
  </div>  
  <footer>
      <div class="message-input">
      <input [(ngModel)]="message" placeholder="Type a message" />
      <button (click)="sendMassage(message)">Send</button>
    </div>
  </footer>
    <ul>
      <li *ngFor="let msg of messages">{{ msg }}</li>
    </ul>
  </div>
</div>
  

